<div class="modal-dialog">
	<div class="modal-content">
		<form id="updateDefinitionForm">
			<input type="hidden" name="id" th:value="${definition.id}"/>
			<div class="modal-header">
				<h4 class="modal-title">Edit Definition</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Name</label> <input type="text" class="form-control"
						th:value="${definition.eventName}" readonly></input>
				</div>
				<div class="form-group">
					<label>Source</label> <input type="email" class="form-control"
						th:value="${definition.sourceName}" readonly></input>
				</div>
				<div class="form-group">
					<label>Schema</label>
					<textarea id="schema" name="schema" cols="120" rows="25"
						class="form-control" th:text="${definition.schema}"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-default" data-dismiss="modal"
					value="Cancel"> <input type="button" class="btn btn-info"
					value="Save" onclick="updateDefinition()">
			</div>
		</form>
	</div>
</div>