<form id="eventTesterForm">
	<!-- 
	<div class="form-group">
		<label for="source">Source</label>
		<select id="source" class="form-control">
      		<option th:each="source : ${sources}" th:value="${source.id}" th:text="${source.name}"></option>
    	</select>
    </div>
     -->
     <div id="eventTesterStatus">
     </div>
     <br/><br/>
    <div class="form-group">
		<label for="eventTesterDefinitionId">Event</label>
		<select id="eventTesterDefinitionId" name="eventId" class="form-control">
		<option th:each="definition : ${definitions}" th:value="${definition.id}" th:text="${definition.eventName}" th:attr="data-schema=${definition.payloadSchema}"></option>
    	</select>
    </div>
	<div class="form-group">
		<label for="jsonData">JSON payload</label>
		<textarea cols="150" rows="20" class="form-control" id="jsonData" name="jsonData"></textarea>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary" hx-post="/site/v1/validateEventData" hx-include="#eventTesterForm" hx-target="#eventTesterStatus" hx-swap="innerHTML">Validate</button> &nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-primary" hx-post="/site/v1/publishEvent" hx-include="#eventTesterForm" hx-target="#eventTesterStatus" hx-swap="innerHTML">Publish</button>
	</div>
</form>
<script th:src="@{/js/event-tester-page.js}"></script>