<div class="card text-left">
	<div class="card-header">
		<ul class="nav nav-pills card-header-pills">
			<li class="nav-item"><a id="definitionsId" class="nav-link active" href="#" data-tab="definitions" hx-get="/site/v1/definitions" hx-target="#cardContent" hx-swap="innerHTML">Manage Definitions</a></li>
			<li class="nav-item"><a id="eventsId" class="nav-link" href="#" data-tab="events" hx-get="/site/v1/eventHistory" hx-target="#cardContent" hx-swap="innerHTML">Events</a>
			</li>
			<li class="nav-item"><a id="testId" class="nav-link" href="#" data-tab="test" hx-get="/site/v1/eventTester" hx-target="#cardContent" hx-swap="innerHTML">Test</a></li>
		</ul>
	</div>
	<div id="cardContent" class="card-body">
		
	</div>
</div>
<script th:src="@{/js/events-page.js}"></script>
