<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:include="~{fragments/general :: headerfiles}">
</th:block>
</head>
<body>
<th:block th:include="~{fragments/general :: siteNavBar}">
	</th:block>
<br/>
<br/>
<br/>
	<div id="contentArea" class="container">
<h2>Registration</h2>
<br/>
<form action="#" th:action="@{/register}" th:object="${registrationForm}" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" placeholder="Email" th:field="*{email}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" placeholder="name" th:field="*{name}">
    </div>
  </div>
  <div class="form-group">
     <label for="inputOrgName">Organization Name</label>
      <input type="text" class="form-control" placeholder="Organization Name" th:field="*{orgName}">
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" placeholder="1234 Main St" th:field="*{address}">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" placeholder="Apartment, studio, or floor" th:field="*{address2}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" th:field="*{city}">
    </div>
   </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="country">Country</label>
      <select id="country" class="form-control" th:field="*{country}">
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="state">State</label>
      <select class="form-control"  th:field="*{state}">
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="postalCode">Postal Code</label>
      <input type="text" class="form-control"  th:field="*{postalCode}">
    </div>
  </div>
	<br/>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>


<br/>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: jquery"></div>
	<div th:replace="fragments/general :: bootsrtapjs"></div>
	<script>

$.get('/countryAndStates.json', function(data) {
	//console.print('JSON == ' + data)
	var options = $("#country");
	options.append(new Option("Select country", ""));
	for (i = 0; i <  data.countries.length; i++) {
		country = data.countries[i];
		options.append(new Option(country.country, country.country));
	}
});

$( "#country" ).change(function() {
	$.get('/countryAndStates.json', function(data) {
		var options = $("#state");
		$('#state').empty()
		options.append(new Option("Select State", ""));
		for (i = 0; i <  data.countries.length; i++) {
			country = data.countries[i];
			//alert($('#inputCountry').val())
			if (country.country == $('#country').val()) {
				for (j = 0; j < country.states.length; j++) {
					options.append(new Option(country.states[j], country.states[j]));
				}
			}
		}
	});
}
);
</script>
</body>

</html>